---
title: Sarah
---

<div class="welcome">
  <h1>Sarah Project</h1>
  <p class="doc">My CV</p>

<p class="doc">Born in Tehran, Iran. Date of birth:
17/01/1990</p>
</div><!-- .welcome -->

<div>
  <p class="doc">At the moment studying Information Technology at Czech University of Life sciences Prague.
  Languages: English, Czech, Persian</p>
</div>
